@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600&display=swap");

/* Root Properties Starts Here */
:root {
  --primary: #ffffff;
  --secondary: #000000;
  --font-family: Poppins, sans-serif;
}
/* Root Properties Ends Here */

/* Default Css Start Here */
* {
  margin: 0;
  padding: 0;
}

body {
  font-family: var(--font-family);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  width: 100%;
}
/* Default Css Ends Here */

/* Loader Animation Styles Starts Here */

#loader {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--primary);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.loader {
  width: 48px;
  height: 40px;
  margin-top: 30px;
  display: inline-block;
  position: relative;
  background: var(--secondary);
  border-radius: 15% 15% 35% 35%;
}
.loader::after {
  content: "";
  box-sizing: border-box;
  position: absolute;
  left: 45px;
  top: 8px;
  border: 4px solid var(--secondary);
  width: 16px;
  height: 20px;
  border-radius: 0 4px 4px 0;
}
.loader::before {
  content: "";
  position: absolute;
  width: 1px;
  height: 10px;
  color: var(--secondary);
  top: -15px;
  left: 11px;
  box-sizing: border-box;
  animation: animloader 1s ease infinite;
}

@keyframes animloader {
  0% {
    box-shadow: 2px 0px rgba(46, 45, 45, 0.938), 12px 0px rgba(0, 0, 0, 0.3),
      20px 0px rgba(255, 255, 255, 0);
  }
  50% {
    box-shadow: 2px -5px rgba(34, 33, 33, 0.5), 12px -3px rgba(36, 34, 34, 0.5),
      20px -2px rgba(19, 18, 18, 0.6);
  }
  100% {
    box-shadow: 2px -8px rgba(29, 28, 28, 0), 12px -5px rgba(255, 255, 255, 0),
      20px -5px rgba(255, 255, 255, 0);
  }
}

/* Loader Animation Styles Ends Here */

/* Navbar Styles Starts Here */
.navbar {
  position: fixed;
  left: 1.5rem;
  top: 0;
  z-index: 999;
  background-color: var(--primary);
  padding: 1rem;
  font-size: 1.5rem;
  font-weight: 700;
  border-bottom-right-radius: 1.5rem;
}
/* Navbar Styles Ends Here */

/* Image Container Styling Starts Here */

.home-container {
  height: 90vh;
  width: 95%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.img-container {
  background-repeat: no-repeat;
  background-size: cover;
  object-fit: contain;
  background-position: center;
  width: 100%;
  height: 100%;
  border-radius: 1rem;
}
/* Image Container Styling Ends Here */

/* Add Button Styling Starts Here */
.add-btn {
  position: fixed;
  z-index: 10;
  right: 3rem;
  bottom: -0.2rem;
}

.add-btn img {
  width: 4.5rem;
  cursor: pointer;

}

.add-btn input[type="file"] {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  cursor: pointer;
  width: 100%;
  height: 100%;
}

.add-btn :hover {
  scale: 1.1;
}

/* Add Button Styling Ends Here */

/* Color Container Styling Starts Here */
#colorContainer {
  display: flex;
  position: absolute;
  top: 5%;
  left: 2.4%;
  width: 95.5%;
  height: 90vh;
}


#colorContainer div {
  width: 100%;
  color: var(--primary);
  display: flex;
  align-items: flex-end;
  justify-content: center;
  cursor: pointer;
}

#colorContainer div:hover {
  scale: 1.01;
}
/* Color Container Styling Ends Here */

/* Copied Model Styles Starts Here */
.copied-sign {
  font-family: var(--font-family);
  position: absolute;
  top: 0%;
  left: 0%;
  width: 3rem !important;
  transform: translate(-50%, -50%);
  background-color: rgba(255, 255, 255, 0.8);
  padding: 0.5rem;
  border-radius: 0.3rem;
  font-weight: 500;
  font-size: 0.8rem;
}

/* Copied Model Styles Ends Here */

/* Color Generation Loading Animation Starts Here */
.image-loader {
  width: 50px;
  aspect-ratio: 1;
  display: grid;
  border-radius: 50%;
  background: conic-gradient(#25b09b 25%,#f03355 0 50%,#514b82 0 75%,#ffa516 0);
  animation: l22 2s infinite linear;
}
.image-loader::before,
.image-loader::after {
   content: "";
   grid-area: 1/1;
   margin: 15%;
   border-radius: 50%;
   background: inherit;
   animation: inherit;
}
.image-loader::after {
   margin: 25%;
   animation-duration: 3s;
}
@keyframes l22 {
  100% {transform: rotate(1turn)}
}
/* Color Generation Loading Animation Ends Here */

/* Mobile Responsiveness Starts Here */
@media (max-width: 575.98px) {
  .navbar {
    position: fixed;
    left: 0rem;
    font-size: 1rem;
    border-bottom-right-radius: 1rem;
  }
  #colorContainer {
    display: block !important;
    top: 4%;
    height: 100%;
  }

  #colorContainer div {
    height: 30%;
  }

  .add-btn {
    right: 1rem;
    bottom: 0rem;
  }

  .add-btn img {
    width: 3rem;
  }
}

/* Mobile Responsiveness Ends Here */

